---
import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import About from '@components/About.astro'
import Footer from '@components/Footer.astro'
import Billboard from '@components/Billboard.astro'
import PostFeatImg from '@components/PostFeatImg.astro'

const { title, subtitle, description, date, lastmod, permalink, featured_image, featured_image_alt, featured_image_width, featured_image_height, featured_image_caption } = Astro.props
---

<html lang="en">
	<head>
		<Head {title} {description} {permalink} {featured_image} />
	</head>

	<body>
		<Header />
    <main>
			<Billboard
				title={title}
				subtitle={subtitle}
				description={description}
				date={date}
				lastmod={lastmod}
			/>
			<About >
				<slot />
			</About>
    </main>
    <Footer />
	</body>
</html>
